<head>
  <link rel="stylesheet" href="/static/css/posts.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.min.css">
  <script lang="text/javascript" src="/static/js/posts.js" defer></script>
</head>

<div id="posts" >
<!--  <div class="post"></div>-->
<!--  <p>TBD</p>-->
</div>
